/*  
.pai {
    background-color: cornflowerblue;
    width: 75%;
    height: 200px;
}

.filho {
    background-color: coral;
    width: 50vw;
    height: 200px;
}
    /*

git branch ,pstra quais branches temos
git branch checkout nome da branch para logar
/* 
git brnach */
