*{
    padding: 0%;
    margin: 0%;
}
body {
    display: flex;
    justify-content: center;
    background-color: #ff8a00de;
}

.container {
    width: 100vw;
    max-width: 1000px;
    min-width: 375px;
    border: 1px solid black;
    background-color: aliceblue;
}

.cols {
    display: flex;
    gap: 10px;
}

.mkt,
.parceiros {
    width: 50%;
    border: 1px solid black;

}
@media screen and (max-width: 500px){
   .cols{
    flex-direction: column;
   } 
   .mkt,
.parceiros {
    width: 100%;
    border: 1px solid black;
}
}
/* @media print {

} */